In [1]:
fruits = {'banana', 'apple', 'grape'}

print(fruits)

{'apple', 'banana', 'grape'}

In [5]:
try:
    print(fruits[1])
except TypeError:
    print("sets cant select a specific item")
else:
    print("Item Found")
finally:
    print("Job completed")

sets cant select a specific item
Job completed

sets are unordered, unchangeable and duplicates not allowed

unordered means that it does not have a defined order

unchangeable means you cant change existing values, but you can add new items or delete existing items

existing items are automatically removed, when outputted

In [7]:
fruits = {'banana', 'apple', 'grape', 'grape'}

print(fruits)

{'apple', 'banana', 'grape'}

True and 1 are considered the same value, so whatever comes after is removed

True = 1
False = 0

In [ ]:
ranset = {True, False, 1, 0}
print(ranset)

{False, True}

check the length of a set. with the previous example, you can see that the additional 2 numbers are not counted

In [11]:
len(ranset)

2

A set can contain different data type or it can be of one data type based on the developer. check the type you can see it will be type set, regardless of what you put in the data type

In [13]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(type(set1))

<class 'set'>

In [14]:
set1 = {"abc", 34, True, 40, "male"}

print(type(set1))

<class 'set'>

You can construct a dataset as well, remeber to add set before the round brackets

In [15]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}